@import "_mixins.less";

.cart-function {
	position: absolute;
	right: 20px;
	bottom: 20px;

	width: 165px;
	height: 85px;

	display: grid;
	grid-template-areas: "qty price" "cart cart";
	grid-template-columns: 50px auto;
	grid-template-rows: 50% 50%;
	justify-content: space-between;

	.qty {
		grid-area: qty;

		span {
			padding-left: 5px;

			color: #505050;
			font-size: 14px;
			font-family: Arial, Helvetica, sans-serif;
			line-height: 20px;
		}

		.dropdown {
			@height: 24px;

			width: 48px;
			height: @height;

			border: 1px solid #777777;
			border-radius: 3px;

			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 15px;
			line-height: @height;

			padding-left: 5px;

			.caret();
		}
	}

	.price {
		grid-area: price;

		.currency {
			font-family: Arial Narrow, Helvetica, sans-serif;
			font-size: 20px;
			letter-spacing: 2px;
			vertical-align: top;
		}

		.whole {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 34px;
			line-height: 34px;
		}

		.sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			vertical-align: top;
		}
	}

	.add-to-cart {
		grid-area: cart;
		align-self: end;

		button {
			@bgColor: #2a292e;

			width: 100%;
			height: 32px;
			background-color: @bgColor;
			box-shadow: 0px 3px 6px #0000001a, inset 0 0 20px black;
			border-radius: 24px;
			border-width: 0;

			transition: background-color 200ms ease-in-out;

			color: white;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			text-align: center;

			&:hover {
				cursor: pointer;
				background-color: fade(@bgColor, 80%);
			}
		}
	}
}
