@import "_mixins.less";

@radius: 3px;

.product-item {
	position: relative;

	height: 248px;

	outline: 0.5px solid #f0f2f6;
	border-radius: @radius;
	margin: 10px 0px;

	.product-photo,
	.product-info {
		display: inline-block;
	}

	.product-photo {
		width: 239px;
		height: 248px;

		position: relative;

		border-radius: @radius;
		overflow: hidden;

		.photo {
			position: absolute;
			top: 0;
			left: 0;

			opacity: 0;
			transition: opacity 200ms ease-in-out;

			&.active {
				opacity: 1;
			}
		}
	}
}
