<div class="product-item">
	<div class="product-photo">
		<div class="options-container">
			<div class="zoom">
				<img
					class="icon"
					src="http://via.placeholder.com/12.png/000000/FFFFFF" />
			</div>
			<div class="view-type-container">
				<div class="view-select icon-1 active">
					<div class="icon ico-active"></div>
					<div class="icon ico-normal"></div>
				</div>
				<div class="view-select icon-2">
					<div class="icon ico-active"></div>
					<div class="icon ico-normal"></div>
				</div>
				<div class="view-select icon-3">
					<div class="icon ico-active"></div>
					<div class="icon ico-normal"></div>
				</div>
				<div class="view-select icon-4">
					<div class="icon ico-active"></div>
					<div class="icon ico-normal"></div>
				</div>
			</div>
		</div>
		<img src="http://via.placeholder.com/239x248.png" />
	</div>

	<div class="product-info">
		<div class="title">
			<span class="item-code">BS</span>
			<strong class="divider"> | </strong>
			<span class="item-name">base shelf</span>
		</div>
		<p class="description">
			1 Cabinet, 1 Door, 1 Adjustable Shelf, Adjustable Legs
		</p>
	</div>

	<div class="cart-function">
		<div class="qty">
			<span>QTY</span>
			<div class="dropdown"></div>
		</div>
		<div class="price">
			<span class="currency">$</span>
			<span class="whole">545</span>
			<span class="sub">40</span>
		</div>
		<div class="add-to-cart">
			<button>Add To Cart</button>
		</div>
	</div>
</div>
