<div class="nav-buttons">
	<div class="lang">
		<a class="link">
			<img class="flag" src="assets/icons/usa-flag.svg" alt="" />
			<span class="text">EN</span>
			<img class="icon" src="assets/icons/caret-down-white.svg" alt="" />
		</a>
	</div>

	<div class="account">
		<a class="account-name">
			<span>Sign In</span>
		</a>
		<a class="link">
			<span class="text">MY ACCOUNT</span>
			<img class="icon icon-caret" src="assets/icons/caret-down-white.svg" alt="" />
		</a>
	</div>

	<div class="saved">
		<a class="link">
			<img class="icon" src="assets/icons/bookmark-filled-white.svg" alt="" />
			<span class="text">SAVED</span>
		</a>
	</div>

	<div class="cart">
		<a class="link">
			<img class="icon" src="assets/icons/cart-white.svg" alt="" />
			<span class="text">CART</span>
		</a>
	</div>
</div>
