<div class="container">
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown text="Select Type"></app-mat-dropdown>
		<app-mat-dropdown text="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown text="Select Box"></app-mat-dropdown>
		<app-mat-dropdown text="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown text="Select Door"></app-mat-dropdown>
		<app-mat-dropdown text="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown text="Select Drawer"></app-mat-dropdown>
		<app-mat-dropdown text="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown text="Select Gola"></app-mat-dropdown>
		<app-mat-dropdown text="N/A"></app-mat-dropdown>
	</div>
</div>
