<div class="container">
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown
			defaultText="Select Type"
			[options]="doorType"></app-mat-dropdown>
		<app-mat-dropdown defaultText="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown
			defaultText="Select Box"
			[options]="boxMaterial"
			[multi]="true"></app-mat-dropdown>
		<app-mat-dropdown defaultText="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown
			defaultText="Select Door"
			[options]="[]"></app-mat-dropdown>
		<app-mat-dropdown defaultText="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown
			defaultText="Select Drawer"
			[options]="[]"></app-mat-dropdown>
		<app-mat-dropdown defaultText="N/A"></app-mat-dropdown>
	</div>
	<div class="col">
		<div class="photo">
			<img src="http://via.placeholder.com/176.png" />
		</div>
		<app-mat-dropdown
			defaultText="Select Gola"
			[options]="[]"></app-mat-dropdown>
		<app-mat-dropdown defaultText="N/A"></app-mat-dropdown>
	</div>
</div>
